main {
    min-width: 200vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container-main {
    display: flex;
    flex-direction: row;
    min-width: 200vh;
    min-height: 90vh;
}

.parte-direita {
    background-color: #D2FF69;
    flex: 1;
    min-width: 90vh;
    height: auto;

}

.parte-esquerda {
    display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        flex: 1;
        height: 60vh;
        align-content: space-between;
        justify-content: space-evenly;
    

}

.conteudo-and-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.conteudo-and-inputs h1 {
    gap: 50px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 90px;
    font-weight: 800;
    margin: 20px;
}

.conteudo-and-inputs input {
    width: 600px;
    height: 60px;
    border-radius: 35px;
    text-align: start;
    margin: 10px;
    font-size: large;
    font-style: italic;
    text-indent: 20px;
}

.botao-and-text {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 90%;
    width: 100%;
    align-content: center;
    align-items: center;

}

.botao-and-text button {
    width: 180px;
    height: 75px;
    border-radius: 35px;
    font-size: 40px;
    font-weight: 900;
    background-color: #D2FF69;
    transition: box-shadow 0.3s ease;
    margin-top: 50px;
    margin-bottom: 0px;
   
    
}


.botao-and-text button:hover{
   
    box-shadow: 0 0 5px 5px #313130; 
}

.botao-and-text h3 {
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
    align-self: center;
    margin-top: 40px;
    
    

}

.botao-and-text h3:hover{
        text-decoration: underline;
        border-bottom: 2px solid #D2FF69; 
        
    
}

.ancoras-Login {
    width: 211px;
    height: 136px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    gap: 33px;
    margin-top: 30px;
    
}


.ancoras-Login img {
    width: 90px;
    height: auto;
    padding: 10px;
    align-self: center;
    justify-self: center;
    transition: box-shadow 0.3s ease;
    border-radius: 50%;
    

   
}
.ancoras-Login img:hover{
   
    box-shadow: 0 0 40px 20px #D2FF69; 
}

.parte-esquerda a {
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
    align-self: center;

    text-decoration: none;
    color: black;

}