
body{
    max-height: 96vh;
}
.container-main{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    min-width: 100vh;
    max-height: 96vh;
    justify-content: flex-start;
    gap: 40px
}

.nav{
    display: flex;
        flex-direction: column;
        background-color: black;
        border-radius: 20px;
        min-width: 20%;
        max-height: 96vh;
        justify-content: space-around;
    
}

.conteudo{    
        display: flex;
        flex-direction: column;
        width: 80%;
        
    }

    .conteudo img{
        width: 100%;
        height: 70%;
    }
    .conteudo h1{
        font-size: 70px;
        font-style: italic;
        font-weight: 400;
    }

.conteudo-nav{
    display: flex;
    min-height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.conteudo-nav div {
    display: flex;
    flex-direction: row;
    width: 83%;
    height: 62px;
    background-color: #D2FF69;
    border-radius: 20px;
    
    align-items: center;
    justify-self: center;
    cursor: pointer;
    gap:10px;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    
    
    
        
}

.conteudo-nav img{
    width: 15%;
    height: auto;
    padding: 8px;

}

