html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}



.container-main {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 100%;
  max-height: none;
  flex: 1;
  overflow-y: auto;
  gap: 25px;
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 20px;
  min-width: 20%;
  min-height: 90vh;
  justify-content: space-around;

}

.conteudo {
  display: flex;
  flex-direction: column;
  min-width: 77%;
  min-height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  overflow-x: hidden;

}

.conteudo img {
  width: 100%;
  height: 70%;
}

.conteudo h1 {
  font-size: 70px;
  font-style: italic;
  font-weight: 400;
}

.conteudo-nav {
  display: flex;
  min-height: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.conteudo-nav div {
  display: flex;
  flex-direction: row;
  width: 83%;
  height: 62px;
  border-radius: 20px;
  align-items: center;
  justify-self: center;
  cursor: pointer;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  color: #fff;
  margin-top: 30px;



  background-color: #000000;
  transition: box-shadow 0.3s ease;
}

.conteudo-nav div.nav-selection.ativo {
  width: 90%;
  height: 10%;
  color: #000000;
  background-color: #D2FF69;

}

.conteudo-nav img {
  width: 15%;
  height: auto;
  padding: 8px;

}

/* Footer */

footer {
  flex-shrink: 0;
}

.footer {
  background-color: #d1ff68;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-left: 60px;

}

.social-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
}

.footer-icon {
  width: 60px;
  height: 36px;
  margin-bottom: 10px;
}

.footer-text {
  font-size: 20px;
  font-weight: 500;
}

div .seta {
  align-self: flex-end;
  border-radius: 55%;
  width: 70px;
  margin-right: 10%;
}

div .seta img {
  width: 100%;
}


.posts {
  border-radius: 30px;
  width: 98%;
  background-color: #FFFDF5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 15px 0;
  height: auto;
}

.post-header {
  color: #2563EB;
  font-size: 25px;
  font-weight: 300;
  margin-left: 20px;
  align-self: start;
  text-transform: capitalize;
}

.post-conteudo {
  color: #000000;
  font-size: 35px;
  margin: 15px;

}

.post-footer {
  align-self: flex-end;
  margin: 20px;

}

.post-footer button {
  width: 100px;
  height: 50px;
  background-color: #d1ff68;
  border-radius: 15px;
  font-size: 25px;
  font-style: oblique;

}

.class_mensagem {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 15px 0;
  gap: 15px;
  background-color: #FFFDF5;

}

.nome-mensagem {
  font-style: oblique;
  color: #2563EB;
  font-weight: 500;
  margin: 10px
}

.conteudo_mensagem {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: stretch;
  font-size: 50px;
  font-style: oblique;
  font-weight: 300;
  margin: 10px
}

.responder_mensagem {
  width: 90px;
  height: 50px;
  border-radius: 15px;
  align-self: flex-end;
  background-color: #D2FF69;
  margin-right: 50px !important;
  margin: 10px;
}



.quiz {
  border-radius: 30px;
  width: 98%;
  background-color: #FFFDF5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 15px 0;


}

.div_console {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  gap: 50px;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: #2563EB;
}


.sessao {
  display: flex;
  flex-direction: column;
  border: #000 solid 1px;
  border-radius: 10px;
  margin: 10px;
  width: 100%;
  min-height: none;

}


.sessao input {
  display: flex;
  flex-direction: column;


}

.sessao h2 {
  font-size: 30px;
  align-self: center;
  font-style: oblique;
  color: #2563EB;
  text-decoration: underline #d1ff68;

}

.div_console select {
  width: 400px;
  height: 70px;
  background-color: #d1ff68;
  color: #000;
  border-radius: 15px;
  font-size: 40px;
}

.conteudo_options_console {
  font-size: 20px;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-style: italic;
  height: auto;

}

.opcoes {
  margin: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.dash {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  gap: 15px;
  background-color: #FFFDF5;
  width: 100%;
  justify-content: space-around;
}

.conteudo-dash {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10px;
}

.class-quiz {
  display: flex;
  flex-direction: column;
}

.class-quiz button {
  width: 150px;
  height: 90px;
  align-self: center;
  background-color: #d1ff68;
  border-radius: 15px;
  font-size: 25px;
  font-style: oblique;

}

.sessao input {
  width: 400px;
  height: 20px;
  background-color: #d1ff68;
  color: #000;
  border-radius: 15px;
  font-size: 20px;
}

.opcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.post-conteudo textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
  border-radius: 30px;
}

.card {
  display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 31%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-bottom: 15px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 22px;
    justify-content: center;
    gap: 20px;
    font-style: oblique;
}



#cards_post {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 100%;
}

#cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}